* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans";
  font-weight: 500;
  color: #393939;
  font-size: 16;
  line-height: 150%;
  background-color: #ECEEF2;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: relative;
  background-color: #fff;
  padding: 15px 0px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 600;
}

.header-logo p {
  font-size: 20px;
}

.header-search-input {
  position: relative;
}

.header-search-input input {
  width: 500px;
  height: 36px;
  border-radius: 6px;
  background-color: #ECEEF2;
  padding: 0px 38px 0px 12px;
  color: #828282;
}

.header-search-input img {
  position: absolute;
  top: 9px;
  right: 10px;
}

.header-button {
  background-color: #ECEEF2;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.header-button button {
  padding: 10px 8px;
  font-weight: 600;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 930px;
  padding: 0px 15px;
  margin: 0 auto;
}

.selected {
  background-color: #fff;
  color: #ED6A6A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-list {
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: #fff;
  top: 60px;
  left: 605px;
  z-index: 100;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 22px;
  color: #828282;
}

.widget {
  position: relative;
  height: 350px;
  font-size: 17px;
  border-radius: 20px;
  font-weight: 600;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
}

.widget > img,
.widget .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget .backdrop {
  background-color: #000;
  -webkit-filter: blur(100%);
          filter: blur(100%);
  opacity: 40%;
}

.widget-city-country {
  font-weight: 700;
}

.widget-header,
.widget-main,
.widget-footer {
  position: relative;
  z-index: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.widget-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.widget-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.widget-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-read-gradus p {
  -webkit-transform: translateX(-22px);
      -ms-transform: translateX(-22px);
          transform: translateX(-22px);
}

.widget-weather-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.widget-gradus p {
  font-weight: 700;
  font-size: 56px;
  -webkit-transform: translateY(-33px);
      -ms-transform: translateY(-33px);
          transform: translateY(-33px);
}

.widget-max-and-min-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

.widget-container {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.neco-table {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.neco-title {
  color: #393939;
  font-size: 20px;
  font-weight: 600;
}

.neco-desc {
  font-size: 15px;
  font-weight: 600;
  color: #828282;
}

.tabs {
  padding: 30px 0px;
  max-width: 500px;
}

.tabs-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.tabs-buttons button {
  padding: 8px 0px;
  border-radius: 6px;
  background: #fff;
  color: #393939;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.tabs-buttons button.selected {
  background: -webkit-gradient(linear, left top, left bottom, from(#DA728A), to(#CF61A1));
  background: linear-gradient(180deg, #DA728A 0%, #CF61A1 100%);
  color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.tabs-frame-content {
  max-width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 30px;
}

.tabs-img-speed-air img,
.tabs-img-clouds img,
.tabs-img-pressure img,
.tabs-img-humidity img {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.content-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.frame-card {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
}

.hourly-card {
  max-width: 500px;
  height: 146px;
  background-color: #fff;
  border-radius: 10px;
}

.hourly-container {
  padding: 13px 15px;
  overflow: hidden !important;
}

.hourly-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.hourly-title p {
  font-weight: 600;
  font-size: 14px;
}

.hourly-forecast-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.slider-container {
  overflow: hidden;
}

.swiper-slide {
  display: block;
  width: 40px;
}

.unactive {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  opacity: 0;
}

.hide {
  display: none;
}

.common-text {
  color: #828282;
}

.frame-card {
  background-color: #fff;
  max-height: 65px;
}

.frame-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 20px;
  max-width: 500px;
  padding-top: 30px;
}

.frame-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.frame-time p {
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}

.frame-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.frame-period p {
  font-size: 12px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #828282;
}

.full-days-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.five-days-card {
  background-color: #fff;
  max-width: 500px;
  border-radius: 10px;
}

.five-days-data p {
  color: #828282;
}

.five-days-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 9px;
}

.five-days-content-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-right: 10px;
}

.five-days-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.five-days-open {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.active {
  -webkit-transform: rotate(178deg);
      -ms-transform: rotate(178deg);
          transform: rotate(178deg);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 0px;
}

@media (max-width: 992.98px) {
  .container {
    width: 100%;
  }

  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-search-input input {
    width: 300px;
  }

  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }

  .header-logo img {
    width: 26px;
  }

  .header-logo p {
    font-size: 14px;
  }

  .search-list {
    position: absolute;
    width: 900px;
    height: 900px;
    background-color: #fff;
    top: 60px;
    left: 0px;
    z-index: 100;
  }

  .neco-table {
    display: none;
  }

  .widget {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .widget p {
    font-size: 14px;
  }

  .widget-gradus p {
    font-size: 56px;
  }

  .tabs-button {
    font-size: 15px;
    padding: 8px 0px;
  }

  .tabs-buttons {
    gap: 18px;
  }

  .tabs-frame-text p:first-child {
    font-size: 14px;
  }

  .tabs-frame-text p:last-child {
    font-size: 12px;
  }

  .frame-card {
    padding: 6px 8px;
  }

  .hourly-title h4 {
    font-size: 14px;
  }

  .hourly-title img {
    width: 17px;
  }

  .tabs-img-humidity img,
  .tabs-img-speed-air img,
  .tabs-img-pressure img,
  .tabs-img-clouds img {
    width: 17px;
  }

  .frame-time p {
    font-size: 12px;
  }

  .frame-title p {
    font-size: 14px;
  }

  .frame-icon img {
    width: 17px;
  }

  .frame-period p {
    font-size: 12px;
  }

  .five-days-data {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .container {
    width: 100%;
  }

  .header-search-input input {
    width: auto;
  }

  .header-search-input input::-webkit-input-placeholder {
    color: transparent;
  }

  .header-search-input input::-moz-placeholder {
    color: transparent;
  }

  .header-search-input input:-ms-input-placeholder {
    color: transparent;
  }

  .header-search-input input::-ms-input-placeholder {
    color: transparent;
  }

  .header-search-input input::placeholder {
    color: transparent;
  }

  .header-search-input img {
    position: absolute;
    top: 9px;
    left: 10px;
  }

  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }

  .header-button p {
    font-size: 13px;
  }
}