.five-days{
    &-card{
        background-color: $white;
        max-width: 500px;
        padding:14px 9px;
    }
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-content-weather{
        display: flex;
        align-items: center;
        gap:20px;
        padding-right:30px;
    }
}