.header{
    position: relative;
    background-color: $white;
    padding:15px 0px;
    &-logo{
        display: flex;
        align-items: center;
        gap:6px;
        font-weight: 600;
        p{
            font-size: 20px;
        }
    }
    &-search-input{
        position: relative;
        input{
            width:500px;
            height: 36px;
            border-radius: $border;
            background-color: $grey;
            padding:0px 38px 0px 12px;
            color:$commonText;
        }
        img{
            position: absolute;
            top:9px;
            right: 10px;
        }
    }
    &-button{
         background-color: $grey;
         border-radius: $border;
         display: flex;
         padding:2px;
         button{
            padding:10px 8px;
            font-weight: 600;
             height: 32px;
             width:32px;
             display: flex;
             justify-content: center;
            align-items: center;
            border-radius: $border;
         }
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}
.container{
    max-width: 930px;
    padding:0px 15px;
    margin: 0 auto;
}

.selected{
    background-color: $white;
    color:$crimson;
    transition: .4s;
}

.search-list{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: $white;
    top:60px;
    left:605px;
    z-index: 100;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.close{
    position: absolute;
    top:5px;
    right: 8px;
    font-size: 22px;
    color:$commonText;
}

@media (max-width:$md1){
    .container{
        width: 100%;
    }
    .header-content{
        display: flex;
        align-items: center;
    }

  
    .header-search-input{
        input{
            width: 300px;
        }
    }
    .header-content{
        display: flex;
        align-items: center;
        gap:5px;
    }
    .header-logo{
        img{
            width: 26px;
        }
        p{
            font-size: 14px;
        }
    }
    .search-list{
        position: absolute;
        width: 900px;
        height: 900px;
        background-color: $white;
        top:60px;
        left:0px;
        z-index: 100;
    }
  

}
@media (max-width:$md3){
    .container{
        width: 100%;
    }
    .header-search-input{
        input{
            width: auto;
        
        }
        input::placeholder{
            color: transparent;
        }
        img{
            position: absolute;
            top:9px;
            left: 10px;
        }
    }
    .header-content{
        display: flex;
        align-items: center;
        gap:5px;
    }
    .header-button{
        p{
            font-size: 13px;
        }
    }
   
  
}
