.tabs{
    padding:30px 0px;
    max-width: 500px;
      &-buttons{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap:35px;
        button{
            padding:8px 0px;
            border-radius: $border;
            background:$white;
            color:$mainColor;
            box-shadow: $boxShadow;
            &.selected{
                background: linear-gradient(180deg, #DA728A 0%, #CF61A1 100%);
                color:$white;
                transition: .6s;
            }
        }
    }
    &-frame-content{
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
         gap:20px;
         padding-bottom: 30px;
    }
    &-img-speed-air,
    &-img-precipitation,
    &-img-pressure,
    &-img-humidity{
        img{
            transform: translateY(10px);
        }
    }
}

.content-frame{
    display: flex;
    gap:12px;
}

.frame-card{
    background-color: $white;
    padding:8px 12px;
    border-radius: 10px;
}

.hourly{
    &-card{
       max-width:500px;
        height: 146px;
        background-color: $white;
        border-radius: 10px;
    }
    &-container{
        padding:13px 15px;
        overflow: hidden !important;
    }
    &-title{
       display: flex;
       gap:11px;
       align-items: center;
       margin-bottom: 11px;
       p{
        font-weight: 600;
        font-size: 14px;
       }
    }
    &-forecast-item{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:4px;
    }
    }

    .slider-container {
     overflow: hidden;  
    }
      .swiper-slide {
        display: block;
        width: 40px;
      }
// .swiper-slide:nth-child(2n),
// .swiper-slide:nth-child(3n),
// .swiper-slide:nth-child(4n),
// .swiper-slide:nth-child(5n),
// .swiper-slide:nth-child(6n),
// .swiper-slide:nth-child(7n),
// .swiper-slide:nth-child(8n){
//     width: 12,5%;
// }

.hide{
    display: none;
}


@media (max-width:$md1){
    .tabs-button{
       font-size: 15px;
       padding:8px 0px;
    }
    .tabs-buttons{
        gap:18px;
    }
    .tabs-frame-text{
        p:first-child{
            font-size: 14px;
        }
        p:last-child{
            font-size: 12px;
        }
    }
    .frame-card{
        padding:6px 8px;
    }
    .hourly-title{
        h4{
            font-size: 14px;
        }
        img{
            width:17px;
        }
    }
    .tabs-img-humidity,
    .tabs-img-speed-air,
    .tabs-img-pressure,
    .tabs-img-precipitation{
        img{
            width:17px;
        }
    }
}